<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
	<link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/double-date.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/uploadify/uploadify.css"/>
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
</head>

<body class="gray-bg">
<style>
input.error{
	border:1px solid red;
}
span.error{
	padding-top:10px;
	color: #f00;
	font-size:12px;
}
</style>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>优惠券详情</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                        	 <div class="form-group">
		                          <label class="col-sm-2 control-label">状态：</label>
		                          <div class="col-sm-6">
		                              <div style="font-size:14px; width:500px; height:35px; line-height:35px;">
                                      {switch name="coupons.checked"}
                                      {case value="1"}<font style="color:#1992FC;">正常</font>{/case}
                                      {case value="2"}<font style="color:#F00;">违规</font>{/case}
                                      {/switch}
		                              </div>
		                          </div>
		                     </div>
		                     <div class="hr-line-dashed"></div>
		                     
		                    <div class="form-group">
                                <label class="col-sm-2 control-label">满金额：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">{$coupons.man_price}</div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
		                    <div class="form-group">
                                <label class="col-sm-2 control-label">减金额：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">{$coupons.dec_price}</div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">有效日期：</label>
                                <div class="col-sm-8">
                                    <div class="date date1 fl" style="float:left; margin-right:25px;">
                                           <div style="font-size:14px; width:500px; height:35px; line-height:35px;">开始日期：{:date('Y-m-d',$coupons['start_time'])}</div>    
                                    </div>
                                    <div class="date fr" style="float:left;">
                                           <div style="font-size:14px; width:500px; height:35px; line-height:35px;">结束日期：{:date('Y-m-d',$coupons['end_time'])}</div>    
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否上架：</label>
		                          <div class="col-sm-6">
		                              <div style="font-size:14px; width:500px; height:35px; line-height:35px;">
                                      {switch name="coupons.onsale"}
                                      {case value="1"}上架{/case}
                                      {case value="0"}下架{/case}
                                      {/switch}
		                              </div>
		                          </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">放入回收站：</label>
		                          <div class="col-sm-6">
		                              <div style="font-size:14px; width:500px; height:35px; line-height:35px;">
                                      {switch name="coupons.is_recycle"}
                                      {case value="1"}是<{/case}
                                      {case value="0"}否{/case}
                                      {/switch}
		                              </div>
		                          </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">排序：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">{$coupons.sort}</div>
                                </div>
                            </div>						
                            <div class="hr-line-dashed"></div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 自定义js -->
    <script type="text/javascript" src="__PUBLIC__/uploadify/jquery.uploadify.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>	
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/ajax.js"></script>

</body>
</html>