<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="shortcut icon" href="favicon.ico"> 
        <link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
        <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
        <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
        <link href="__PUBLIC__/admin/css/page.css" rel="stylesheet">
        <link href="__PUBLIC__/admin/js/layui/css/layui.css" rel="stylesheet">
        <link href="__PUBLIC__/admin/css/double-date.css" rel="stylesheet">
        <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    </head>
    
    <style>
        .qiehuan{
            width:120px;
            height:40px;
            line-height:40px;
            font-size:14px;
            font-weight:bold;
            color:#333;
            background-color:#F5F5F6;
            float:left;
            margin-right:10px;
            text-align:center;
            cursor:pointer;
        }
    </style>

    <script>
        var url = "/{$Request.module}/distribution_withdraw";
    </script>

    <body class="gray-bg" >
        <div class="wrapper wrapper-content" id="server">
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>分销商提现申请列表</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-5 m-b-xs">                    
                                    <div style="width:1300px; height:40px; margin-bottom:25px;">
                                        <a href="{:url('distribution_withdraw/lst',array('filter'=>10))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 10)"}style="background-color: #1992FC;color: #FFF;"{/if}>全部</div></a>
                                        <a href="{:url('distribution_withdraw/lst',array('filter'=>1))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 1)"}style="background-color: #1992FC;color: #FFF;"{/if}>待审核</div></a>
                                        <a href="{:url('distribution_withdraw/lst',array('filter'=>2))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 2)"}style="background-color: #1992FC;color: #FFF;"{/if}>待打款</div></a>
                                        <a href="{:url('distribution_withdraw/lst',array('filter'=>3))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 3)"}style="background-color: #1992FC;color: #FFF;"{/if}>已完成</div></a>
                                        <a href="{:url('distribution_withdraw/lst',array('filter'=>4))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 4)"}style="background-color: #1992FC;color: #FFF;"{/if}>打款异常</div></a>
                                        <a href="{:url('distribution_withdraw/lst',array('filter'=>5))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 5)"}style="background-color: #1992FC;color: #FFF;"{/if}>审核未通过</div></a>    
                                    </div>
                                </div>                                                                                             
                            </div>

                            <div class="row">
                                <form action="{:url('distribution_withdraw/search')}" method="post" id="form_search">          
                                    <div class="col-sm-3" style="float:right;">
                                        <div class="input-group">
                                            <input type="text" name="keyword" placeholder="请输入提现流水单号" {if condition="(isset($keyword)) AND ($keyword)"}value="{$keyword}"{/if} class="input-sm form-control" /><span class="input-group-btn">
                                                <button type="submit" class="btn btn-sm btn-primary">搜索</button></span>
                                        </div>
                                    </div>

                                    <div style="float:right; font-size:15px; margin-right:10px;">
                                        <select style="height:30px; line-height:30px; border:1px solid #e5e6e7;" name="tx_zt">
                                            <option value="0" {if condition="isset($tx_zt) && $tx_zt eq 0"}selected="selected"{/if}>全部</option>
                                            <option value="1" {if condition="isset($tx_zt) && $tx_zt eq 1"}selected="selected"{/if}>待审核</option>
                                            <option value="2" {if condition="isset($tx_zt) && $tx_zt eq 2"}selected="selected"{/if}>待打款</option>
                                            <option value="3" {if condition="isset($tx_zt) && $tx_zt eq 3"}selected="selected"{/if}>已完成</option>
                                            <option value="4" {if condition="isset($tx_zt) && $tx_zt eq 4"}selected="selected"{/if}>打款异常</option>
                                            <option value="5" {if condition="isset($tx_zt) && $tx_zt eq 5"}selected="selected"{/if}>审核未通过</option>
                                        </select>
                                    </div>

                                    <div class="date fr" id="to" style="float:right; font-size:15px; margin-right:10px;"> 
                                        <input id="endtime" name="endtime" type="text" readonly="readonly" class="date-check" placeholder="结束时间" {if condition="(isset($endtime)) AND ($endtime)"}value="{$endtime}"{/if}>
                                    </div> 

                                    <div class="date date1 fl" id="from" style="float:right; font-size:15px; margin-right:10px;">
                                        <input id="starttime" name="starttime" type="text" readonly="readonly" class="date-check" placeholder="开始时间" {if condition="(isset($starttime)) AND ($starttime)"}value="{$starttime}"{/if}>
                                    </div> 

                                </form>                  
                            </div>
                            <div id="ajaxpagetest">
                                {include file="distribution_withdraw/ajaxpage" /}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 全局js -->
        <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
        <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
        <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>
        <!-- iCheck -->
        <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
        <script src="__PUBLIC__/admin/js/common/admin.js"></script>    
        <script src="__PUBLIC__/admin/js/common/ajax.js"></script>
        <script src="__PUBLIC__/admin/js/layui/layui.js"></script>

        <script>
            
            layui.use('laydate', function(){
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#starttime'
                });
                laydate.render({
                    elem: '#endtime'
                });
            });

            function tixianchecked(id, obj) {
                if (search == 0) {
                    var checkedUrl = url + '/checked/tx_id/' + id + '/page/' + pnum + '/filter/' + filter;
                } else {
                    var checkedUrl = url + '/checked/tx_id/' + id + '/page/' + pnum + '/s/' + search + '/filter/' + filter;
                }
                window.location.href = checkedUrl;
            }

            function dakuan(id, obj) {
                if (search == 0) {
                    var dakuanUrl = url + '/dakuan/tx_id/' + id + '/page/' + pnum + '/filter/' + filter;
                } else {
                    var dakuanUrl = url + '/dakuan/tx_id/' + id + '/page/' + pnum + '/s/' + search + '/filter/' + filter;
                }
                window.location.href = dakuanUrl;
            }

            function tixianinfo(id, obj) {
                var infoUrl = url + '/info/tx_id/' + id;
                window.location.href = infoUrl;
            }

        </script>

    </body>
</html>