<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
	<link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Huploadify/Huploadify.css"/>
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
	
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.js"> </script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>

<script>
var url = "{:url('message/lst')}";
var insertUrl = "{:url('message/send')}";
</script>

<body class="gray-bg">
<style>
input.error{
	border:1px solid red;
}
span.error{
	padding-top:10px;
	color: #f00;
	font-size:12px;
}
</style>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>发送消息</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" enctype="multipart/form-data" class="form-horizontal" id="form">
                                                                              
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标题：</label>
                                <div class="col-sm-6">
                                    <input type="text" name="title" class="form-control">
                                </div>
                                <label class="col-sm-1" style="padding-top:7px; color:#F00; font-size:16px;">*</label>
                            </div>						
                            <div class="hr-line-dashed"></div>
							
							<div class="form-group">
							<label  class="col-sm-2 control-label">封面：</label>
							<div class="col-sm-6">
							<div style="margin-bottom:7px; margin-top:5px;">
							<img id="image" src="__PUBLIC__/admin/img/nopic.jpg" width="180" height="120" border="0" />
							<br/><button type="button" class="btn btn-danger btn-xs del" style="display:none;">删除</button>
							</div>
							<div id="uploaderInput"></div>
							<input type="hidden" name="pic_id" value="" >
							</div>
							</div>
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
							     <label class="col-sm-2 control-label">简介</label>
							     <div class="col-sm-6">
							         <textarea id="introduce" name="introduce" class="form-control"></textarea>
							     </div> 
							 </div>
							 <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">内容：</label>
                                <div class="col-sm-10">
                                    <textarea id="content" name="content"></textarea>
                                </div>  
                            </div>
                            <div class="hr-line-dashed"></div>
							
							<div class="form-group">
							    <label class="col-sm-2 control-label">类型：</label>
							    <div class="col-sm-6" id="atype">
									
							        <label class="radio-inline"><input type="radio" checked="checked" value="0" name="type">平台通知</label> 
									   <label class="radio-inline"><input type="radio" value="1" name="type">专属私信</label>
							    </div>
							</div>
							
							<div class="guanggao">
							<div class="form-group">
							<label  class="col-sm-2 control-label">会员id:</label>
							<div class="col-sm-6">
								<input name="user_id" type="text" class="form-control" />
							</div>
							</div>
							<div class="hr-line-dashed"></div>                                                                
							</div>
							
							<div class="form-group">
							    <label class="col-sm-2 control-label">状态：</label>
							    <div class="col-sm-6" id="status">
									<label class="radio-inline"><input type="radio" checked="checked" value="1" name="status">正常</label>
							        <label class="radio-inline"><input type="radio" value="0" name="status">取消</label>
							    </div>
							</div>
                            

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" id="doSubmit" style="margin-right:20px;">保存内容</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 自定义js -->
    <script type="text/javascript" src="__PUBLIC__/admin/Huploadify/jquery.Huploadify.js"></script>  
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>	
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/ajax.js"></script>
	
	<script type="text/javascript">
		//实例化编辑器
		//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
		UE.getEditor('content', {initialFrameWidth:'100%', initialFrameHeight:500, enterTag:''}); 
	</script>
	

	<script>
 	$(function(){
		$('.guanggao').show();
		$('.guanggao').eq(0).hide();
		$('#atype .radio-inline').click(function(){
			var i = $(this).index();
			$('.guanggao').show();
			$('.guanggao').eq(i).hide();
		});
		
	    //上传图片
	    $('#uploaderInput').Huploadify({
	        uploader : '{:url("Common/Upload/uploadPic")}',
	        method:'post',
	        formData: {name:'notification'},//发送给服务端的参数，格式：{key1:value1,key2:value2}
	        buttonText : '上传图像', 
	        removeTimeout: 2000,
	        fileTypeDesc:'*.jpg;*.jpeg;*.gif;*.png;*.JPG;*.JPEG;*.GIF;*.PNG;',  
	        fileTypeExts:'*.jpg;*.jpeg;*.gif;*.png;*.JPG;*.JPEG;*.GIF;*.PNG;', 
	        fileObjName: 'file', //上传附件$_FILE标识
	        fileSizeLimit : 2048,
	        //showUploadedPercent:false,//是否实时显示上传的百分比，如20%
	        auto : true, //开启,自动上传
	        multi : false, //开启,多选文件
	        //开始上传
	    	onUploadStart:function(file){
	    		layer.load(2);
	    	},
	        onUploadSuccess : function(file, data, response) {
	        	//解析成json对象
	        	eval('var data='+data);
	        	if(data.status == 200){
	        		var picpath = data.data.path;
	            	$('#image').attr('src',picpath);
	            	$('.del').show();
	            	$('input[name=pic_id]').val(picpath);
	        	}else{
	        		layer.mess(data.mess, {icon: 2,time: 2000});
	        	}
	        },
	        //上传完成后执行的操作
	        onUploadComplete:function(file){
	        	layer.closeAll('loading');
	        },
	        //上传错误  
	        onUploadError : function(file, errorCode, errorMsg, errorString) { 
	        	layer.msg('文件' + file.name + '上传失败:' + errorString, {icon: 2,time: 2000}); 
	        }
	    }); 
	    
	    $('.del').click(function(){
            $('input[name=pic_id]').val('');
            $('#image').attr('src','__PUBLIC__/admin/img/nopic.jpg');
            $('.del').hide();
	    });
		
	    var icon = "<i class='fa fa-times-circle'></i>&nbsp;&nbsp;";
    	$('#form').validate({
       	errorElement : 'span',
       	debug: true,//只验证不提交表单
           //layer ajax提交表单
           submitHandler:function(){
               // 序列化 表单数据 后提交 ，太简洁了
               post(insertUrl,'POST',$('#form').serialize(),1);
               return false;
           },//这是关键的语句，配置这个参数后表单不会自动提交，验证通过之后会去调用的方法

       	rules:{
       		title:{required:true},
       		content:{required:true}
       	},

       	messages:{
       		title:{required:icon+'必填'},
       		content:{required:icon+'内容必填'}
       	}
       });
	});

    
  	
      function cl(){
    	  location.href = url;
      } 
    	
    </script>

</body>
</html>