<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
	<link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/page.css" rel="stylesheet">
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
</head>

<script>
var url = "/{$Request.module}/cate_new";
var deleteUrl = "{:url('cate_new/delete')}";
var sortUrl = "{:url('cate_new/order')}";
</script>

<body class="gray-bg">
    <div class="wrapper wrapper-content" id="server">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>栏目管理</h5>
                    </div>
                    <div class="ibox-content">
						<div class="row">
						   <div class="col-sm-8 m-b-xs">
                                <a href="{:url('cate_new/add')}"><button type="button" class="btn btn-sm btn-primary" id="add" style="margin-right:15px;"><i class="fa fa-plus" style="color:#FFF;"></i>&nbsp;增加栏目</button></a>
                                <button type="button" class="btn btn-sm btn-success" style="margin-right:15px;" id="order">更新排序</button>
                            </div>                      
                        </div>
						
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:5%"></th> 
                                    <th style="width:25%">栏目名称</th>
                                    <th style="width:5%">栏目ID</th>
                                    <th style="width:10%">是否显示</th>
                                    <th style="width:10%">是否推荐</th>
                                    <th style="width:10%">排序</th>
                                    <th style="width:15%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if condition="$list"}
							{foreach name="list" item="v"} 
                                <tr cid="{$v.id}" pid="{$v.pid}" level="{$v.level}" {neq name="v.pid" value="0"}style="display:none;"{/neq}>
                                    <td><a href="javascript:;" class="catezk" onclick="cateshow(this);" style="font-size:15px;">[+]</a></td> 
                                    <td><a style="color:#676a6c;" href="{:url('news/catelist',array('cate_id'=>$v['id']))}">{:str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;', $v['level'])}{gt name="v.level" value="0"}|{/gt}{$v.html}{eq name="v.pid" value="0"}<b>{$v.cate_name}</b>{else/}{$v.cate_name}{/eq}</a></td>
                                    <td>{$v.id}</td>  
                                    <td>                                 
                                    {switch name="v.is_show"}
                                    {case value="0"}<button class="btn btn-danger btn-xs" type="button" onclick="changeTableVal({$v.id},'is_show',this);"><i class="fa fa-times"></i></button>{/case}
                                    {case value="1"}<button class="btn btn-primary btn-xs" type="button" onclick="changeTableVal({$v.id},'is_show',this);"><i class="fa fa-check"></i></button>{/case}
                                    {/switch}
                                    </td>
                                    <td>                                 
                                    {switch name="v.show_in_recommend"}
                                    {case value="0"}<button class="btn btn-danger btn-xs" type="button" onclick="changeTableVal({$v.id},'show_in_recommend',this);"><i class="fa fa-times"></i></button>{/case}
                                    {case value="1"}<button class="btn btn-primary btn-xs" type="button" onclick="changeTableVal({$v.id},'show_in_recommend',this);"><i class="fa fa-check"></i></button>{/case}
                                    {/switch}
                                    </td>
                                    <td><input name="{$v.id}" type="text" value="{$v.sort}" class="sort" size="1"></td>
                                    <td><button type="button" class="btn btn-primary btn-xs" onclick="edit2({$v.id},this);"><i class="fa fa-pencil"></i>&nbsp;编辑</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger btn-xs" onclick="delone({$v.id},this);"><i class="fa fa-close"></i>&nbsp;删除</button></td>
                                </tr>
							{/foreach}
							{else/}
							<tr><td colspan="7" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
							{/if}						
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/catecommon.js"></script>
	<script src="__PUBLIC__/admin/js/common/ajax.js"></script>
</body>
</html>