<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
	<link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Huploadify/Huploadify.css"/>
</head>

<script>
var url = "{:url('live_gift/lst')}";
var updateUrl = "{:url('live_gift/edit')}";
</script>

<body class="gray-bg">
<style>
input.error{
	border:1px solid red;
}
span.error{
	padding-top:10px;
	color: #f00;
	font-size:12px;
}
</style>
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>增加礼物</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" enctype="multipart/form-data" class="form-horizontal" id="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">礼物分类：</label>

                                <div class="col-sm-6">
                                    <select class="form-control m-b" name="cid">
                                        {foreach name="cateres" item="v"}
                                        <option value="{$v.id}" {if condition="$gifts['cid'] eq $v['id']"}selected{/if}>{$v.cate_name}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">礼物名称：</label>
                                <div class="col-sm-6">
                                    <input type="text" name="name" value="{$gifts.name}" class="form-control">
                                </div>
                                <label class="col-sm-1" style="padding-top:7px; color:#F00; font-size:16px;">*</label>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">金币：</label>
                                <div class="col-sm-6">
                                    <input type="phone" name="gift_coin" value="{$gifts.gift_coin}" class="form-control">
                                </div>
                                <label class="col-sm-1" style="padding-top:7px; color:#F00; font-size:16px;">*</label>
                            </div>
                            <div class="hr-line-dashed"></div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述：</label>
                                <div class="col-sm-6">
                                    <input type="text" name="description" value="{$gifts.description}" class="form-control">
                                </div>
                                <label class="col-sm-1" style="padding-top:7px; color:#F00; font-size:16px;">*</label>
                            </div>
                            <div class="hr-line-dashed"></div>


                            <div class="form-group">
                                <label  class="col-sm-2 control-label">礼物图片:</label>
                                <div class="col-sm-6">
                                    <div style="margin-bottom:7px; margin-top:5px;">
                                        <img id="imageinfo" src="{$gifts.pic}" width="120" height="120" border="0" />
                                        <br/><button type="button" class="btn btn-danger btn-xs del" style="display:none;">删除</button>
                                    </div>
                                    <div id="uploaderInput"></div>
                                    <input type="hidden" name="pic" value="{$gifts.pic}" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>


<!--                            <div class="form-group">-->
<!--                                <label  class="col-sm-2 control-label">礼物动态图片(gif):</label>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <div style="margin-bottom:7px; margin-top:5px;">-->
<!--                                        <img id="imageinfoo" src="{$gifts.wzpicgif}" width="180" height="120" border="0" />-->
<!--                                        <br/><button type="button" class="btn btn-danger btn-xs delo" style="display:none;">删除</button>-->
<!--                                    </div>-->
<!--                                    <div id="uploaderInputo"></div>-->
<!--                                    <input type="hidden" name="picgif" value="{$gifts.picgif}" >-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="hr-line-dashed"></div>-->

                            <input type="hidden" name="id" value="{$gifts.id}"/>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" id="doSubmit" style="margin-right:100px;">保存内容</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 自定义js -->
    <script type="text/javascript" src="__PUBLIC__/admin/Huploadify/jquery.Huploadify.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>	
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/ajax.js"></script>      

	<script>
    	$(function(){
    		//上传图片
	        $('#uploaderInput').Huploadify({
	            uploader : '{:url("Common/Upload/uploadPic")}',
		        method:'post',
		        formData:{name:'gift'},//发送给服务端的参数，格式：{key1:value1,key2:value2}
		        buttonText : '上传图像', 
		        removeTimeout: 2000,
		        fileTypeDesc:'*.jpg;*.jpeg;*.gif;*.png;*.JPG;*.JPEG;*.GIF;*.PNG;',  
		        fileTypeExts:'*.jpg;*.jpeg;*.gif;*.png;*.JPG;*.JPEG;*.GIF;*.PNG;', 
		        fileObjName: 'file', //上传附件$_FILE标识
		        fileSizeLimit : 2048,
		        //showUploadedPercent:false,//是否实时显示上传的百分比，如20%
		        auto : true, //开启,自动上传
		        multi : false, //开启,多选文件
		        //开始上传
				onUploadStart:function(file){
					layer.load(2);
				},
		        onUploadSuccess : function(file, data, response) {
		        	//解析成json对象
		        	eval('var data='+data);
		        	if(data.status == 200){
		        		var picpath = data.data.path;
	    	        	$('#imageinfo').attr('src',picpath);
	    	        	$('.del').show();
	    	        	$('input[name=pic]').val(picpath);
		        	}else{
		        		layer.msg(data.mess, {icon: 2,time: 2000});
		        	}
		        },
		        //上传完成后执行的操作
		        onUploadComplete:function(file){
		        	layer.closeAll('loading');
		        },
		        //上传错误  
		        onUploadError : function(file, errorCode, errorMsg, errorString) { 
		        	layer.msg('文件' + file.name + '上传失败:' + errorString, {icon: 2,time: 2000}); 
		        }
		    });


            $('#uploaderInputo').Huploadify({
                uploader : '{:url("Common/Upload/uploadPic")}',
                method:'post',
                formData:{name:'gift'},//发送给服务端的参数，格式：{key1:value1,key2:value2}
                buttonText : '上传图像',
                removeTimeout: 2000,
                fileTypeDesc:'*.jpg;*.jpeg;*.gif;*.png;*.JPG;*.JPEG;*.GIF;*.PNG;',
                fileTypeExts:'*.jpg;*.jpeg;*.gif;*.png;*.JPG;*.JPEG;*.GIF;*.PNG;',
                fileObjName: 'file', //上传附件$_FILE标识
                fileSizeLimit : 2048,
                //showUploadedPercent:false,//是否实时显示上传的百分比，如20%
                auto : true, //开启,自动上传
                multi : false, //开启,多选文件
                //开始上传
                onUploadStart:function(file){
                    layer.load(2);
                },
                onUploadSuccess : function(file, data, response) {
                    //解析成json对象
                    eval('var data='+data);
                    if(data.status == 200){
                        var picpath = data.data.path;
                        $('#imageinfoo').attr('src',picpath);
                        $('.delo').show();
                        $('input[name=picgif]').val(picpath);
                    }else{
                        layer.msg(data.mess, {icon: 2,time: 2000});
                    }
                },
                //上传完成后执行的操作
                onUploadComplete:function(file){
                    layer.closeAll('loading');
                },
                //上传错误
                onUploadError : function(file, errorCode, errorMsg, errorString) {
                    layer.msg('文件' + file.name + '上传失败:' + errorString, {icon: 2,time: 2000});
                }
            });


            $('.del').click(function(){
                $('input[name=pic]').val('');
                $('#imageinfo').attr('src','__PUBLIC__/admin/img/nopic.jpg');
                $('.del').hide();
    		});
                                    
    	    var icon = "<i class='fa fa-times-circle'></i>&nbsp;&nbsp;";
        	$('#form').validate({
	        	errorElement : 'span',
	        	debug: true,//只验证不提交表单
	        	//layer ajax提交表单
	            submitHandler:function(){
	               // 序列化 表单数据 后提交 ，太简洁了
	            	post(updateUrl,'POST',$('#form').serialize(),1);
	                return false;
	            },//这是关键的语句，配置这个参数后表单不会自动提交，验证通过之后会去调用的方法
	                
	        	rules:{
                    cid:{required:true},
                    name:{required:true},
                    point:{required:true},
                    pic:{required:true},
                    picgif:{required:true}
	        	},
	        		
	        	messages:{
                    cid:{required:icon+'必填'},
                    name:{required:icon+'必填'},
                    point:{required:icon+'必填'},
                    pic:{required:icon+'请上传图片'},
                    picgif:{required:icon+'请上传图片'}
	        	}
        	});
      });
    	
	  function cl(){
	     location.href = url;
	  }	  
    </script>
        

</body>
</html>
