<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
	<link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
</head>

<script>
var url = "{:url('member_level/lst')}";
var insertUrl = "{:url('member_level/add')}";
var checkLevelname = "{:url('member_level/checkLevelname')}";
var checkSort = "{:url('member_level/checkSort')}";
</script>
<body class="gray-bg">
<style>
input.error{
	border:1px solid red;
}
span.error{
	padding-top:10px;
	color: #f00;
	font-size:12px;
}
</style>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>增加会员等级</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" id="form">                                                                           
                            <div class="form-group">
                                <label class="col-sm-2 control-label">等级名称</label>
                                <div class="col-sm-6">
                                    <input type="text" name="level_name" class="form-control">
                                </div>
                            </div>						
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">最小积分</label>
                                <div class="col-sm-6">
                                    <input type="text" name="points_min" class="form-control">
                                </div>
                            </div>						
                            <div class="hr-line-dashed"></div> 
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">最大积分</label>
                                <div class="col-sm-6">
                                    <input type="text" name="points_max" class="form-control">
                                </div>
                            </div>						
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">折扣率</label>
                                <div class="col-sm-6">
                                    <input type="text" name="rate" class="form-control">
                                </div>
                            </div>						
                            <div class="hr-line-dashed"></div>                                                            

                            <div class="form-group">
                                <label class="col-sm-2 control-label">排序</label>
                                <div class="col-sm-6">
                                    <input type="text" name="sort" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>                                                                                                  

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" id="doSubmit" style="margin-right:20px;">保存</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 自定义js -->
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>	
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/ajax.js"></script>

	<script>
    	$(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

    	    var icon = "<i class='fa fa-times-circle'></i>&nbsp;&nbsp;";
        	$('#form').validate({
	            errorElement : 'span',
	        	debug: true,//只验证不提交表单
	        	//layer ajax提交表单
	            submitHandler:function(){
	               // 序列化 表单数据 后提交 ，太简洁了
	            	post(insertUrl,'POST',$('#form').serialize(),1);
	            	return false;
	            },//这是关键的语句，配置这个参数后表单不会自动提交，验证通过之后会去调用的方法

	        	rules:{
	        	    level_name:{
	        	    	required:true,
		        		remote : {
		        			url : checkLevelname,
		        			type : 'post',
		        			dataType : 'json',
		        			data : {
		        			   level_name : function () {
		        				  return $('input[name=level_name]').val();
		        			   }
		        		    }
			        	}
	        	    },
	        	    points_min:{required:true},
	        	    points_max:{required:true},
	        	    rate:{required:true},
	        		sort:{
	        			required:true,
	        			digits:true,
		        		remote : {
		        			url : checkSort,
		        			type : 'post',
		        			dataType : 'json',
		        			data : {
		        			   sort : function () {
		        				  return $('input[name=sort]').val();
		        			   }
		        		    }
			        	}
	        	    }
	        	},

	        	messages:{
	        		level_name:{
	        			required:icon+'必填',
	        			remote:icon+'已存在'
	        		},
	        		points_min:{required:icon+'必填'},
	        		points_max:{required:icon+'必填'},
	        		rate:{required:icon+'必填'},
	                sort:{
	                	required:icon+'必填',
	                	digits:icon+'排序必须是整数',
	                	remote:icon+'该排序已存在'
	                }
	        	}
        	});
      });

      function cl(){
    	  location.href = url;
      }
    </script>

</body>
</html>
