<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
	<link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/page.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/double-date.css" rel="stylesheet">
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/double-date.js"></script>
</head>

<script>
//删除url
var url = "/{$Request.module}/brand";
var deleteUrl = "{:url('brand/delete')}";
</script>

<body class="gray-bg" >
<style>
.qiehuan{
width:120px; height:40px; line-height:40px; font-size:14px; font-weight:bold; color:#333; background-color:#F5F5F6; float:left; margin-right:10px; text-align:center; cursor:pointer;
}
</style>

    <div class="wrapper wrapper-content" id="server">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>品牌列表</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
						   <div class="col-sm-8 m-b-xs">                    
                               <div style="width:1200px; height:40px; margin-bottom:10px;">
                               <a href="{:url('brand/lst',array('filter'=>10))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 10)"}style="background-color: #1992FC;color: #FFF;"{/if}>全部</div></a>
                               <a href="{:url('brand/lst',array('filter'=>1))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 1)"}style="background-color: #1992FC;color: #FFF;"{/if}>显示</div></a>    
                               <a href="{:url('brand/lst',array('filter'=>2))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 2)"}style="background-color: #1992FC;color: #FFF;"{/if}>隐藏</div></a>               
                               </div>
                            </div>                                                                                             
                        </div>
                        
                    
                        <div class="row" style="margin-top:10px; margin-bottom:20px;"> 
                        	<div class="col-sm-3 m-b-xs">
                                 <a href="{:url('brand/add')}"><button type="button" class="btn btn-sm btn-primary" style="margin-right:15px;"><i class="fa fa-plus" style="color:#FFF;"></i>&nbsp;添加品牌</button></a>
                            </div>   
                            
                            <form action="{:url('brand/search')}" method="post" id="form_search">          
                            <div class="col-sm-2" style="float:right;">
                                <div class="input-group">
                                    <input type="text" name="keyword" placeholder="请输入品牌名称" {if condition="(isset($keyword)) AND ($keyword)"}value="{$keyword}"{/if} class="input-sm form-control" /><span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">搜索</button></span>
                                </div>
                            </div>
                            
                            <div style="float:right; font-size:15px; margin-right:10px;">
                                <select style="height:30px; line-height:30px; border:1px solid #e5e6e7;" name="brand_zt">
                                    <option value="0" {if condition="(isset($brand_zt)) AND ($brand_zt eq 0)"}selected="selected"{/if}>全部</option>
                                    <option value="1" {if condition="(isset($brand_zt)) AND ($brand_zt eq 1)"}selected="selected"{/if}>显示</option>
                                    <option value="2" {if condition="(isset($brand_zt)) AND ($brand_zt eq 2)"}selected="selected"{/if}>隐藏</option>
                                </select>
                            </div>                        
                           </form>  
                                           
                        </div>
                        <div id="ajaxpagetest">
                        {include file="brand/ajaxpage" /}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/admin.js"></script>    
    <script src="__PUBLIC__/admin/js/common/ajax.js"></script>

</body>
</html>