@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: "Microsoft Yahei", "Calibri";
	font-size: 12px;
	background-color: #FFFFFF;
	color:#333;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #333;
}

li {
	list-style: none
}
img {
	border: 0;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="button"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: rgba(82,168,236,0.8);
	outline: 0;
}

.tip
{
	width:100%;
	margin-top:15px;
	overflow:hidden;
}
.tip a
{
	float:right;
	padding:0px 15px;
	color:#09C;
}
.tip a input
{
	margin-right:5px;
	vertical-align: -1.5px;
}

.agreement-alert {
	font-size: 12px;
	color: #666;
	margin-top: 18px;
	display: flex;
	align-items: center;
}

.agreement-handle {
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: sub;
	background: url(../images/checked.png) no-repeat center 3px;
	margin-right: 2px;
	background-size: 100%;
	background-position: center center;
}

.agreement{
	color:#999;
}
.btndl
{
	width:100%;
	text-align:center;
	margin-top:40px;
}
.btndl a
{
	width:88%;
	color:#fff;
	border:0;
	cursor:pointer;
	font-size:16px;
	background-image: linear-gradient(to right, #ff8864, #ff2121);
	border-radius:20px;
	padding: 12px 0;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
}

/*注册*/
.zhuce
{
	width:100%;
	box-sizing: border-box;
	padding:80px 30px;
}

.zhuce .reg_1{
	text-align: left;

}

.zhuce .reg_1 img{
	width:65px;
	border-radius: 200px;
	overflow: hidden;
	border: 3px solid #efefef;
	box-shadow: 0px 0px 3px #333;
}

.zhuce .reg_2{
	text-align: left;
	font-size: 22px;
	color: #333;
	margin: 10px 0 30px;
	font-weight: bold;
	line-height: 30px;

}

.zhuce .reg_3{
	text-align: center;
	color: #343434;
}

.regform {
	margin-top: 10px;
}

.zhuce .text
{
	line-height:42px;
	border-bottom:1px solid #e0e1e2;
	display:flex;
	overflow:hidden;
	justify-content: space-between;
	align-items: center;
}
.zhuce .text span
{
	width:20%;
}
.zhuce .text .input
{
	height:50px;
	border:0;
	background-color: transparent;
	color: #333;
	width: 100%;
}

.zhuce .text .yzm a
{
	color: #f00 !important;
}


.zhuce .text .yzm input
{
	border:0;
	padding:3px;
	font-family:"Microsoft Yahei", "Calibri";
	color:#f00;
	cursor:pointer;
	font-size:12px;
	background: transparent;
}

.sms-code{
	color:#f00;
}