<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
	<link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
</head>

<script>
var url = "{:url('shop_admin/lst')}";
var insertUrl = "{:url('shop_admin/add')}";
var checkPhone = "{:url('shop_admin/checkPhone')}";
</script>

<body class="gray-bg">
<style>
input.error{
	border:1px solid red;
}
span.error{
	padding-top:10px;
	color: #f00;
	font-size:12px;
}
</style>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>新增商家账号</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" id="form">                                                                           
                            <div class="form-group">
                                <label class="col-sm-2 control-label">手机号</label>
                                <div class="col-sm-6">
                                    <input type="text" id="phone" name="phone" class="form-control">
                                </div>
                            </div>						
                            <div class="hr-line-dashed"></div>                                                                                            

                            <div class="form-group">
                                <label class="col-sm-2 control-label">密码:</label>
                                <div class="col-sm-6">
                                    <input type="text" name="password" readonly="readonly" class="form-control">
                                </div>
                                <button class="btn btn-info" type="button" id="scpwd">生成密码</button>
                                <label class="col-sm-1" style="padding-top:7px; color:#F00; font-size:16px;">*</label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否开启</label>
                                <div class="col-sm-6">
                                     <label class="radio-inline"><input type="radio" value="1" checked="checked" id="optionsRadios1" name="open_status">是</label>
                                     <label class="radio-inline"><input type="radio" value="0" id="optionsRadios2" name="open_status">否</label>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>                                                                                              

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" id="doSubmit" style="margin-right:100px;">保存</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 自定义js -->
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>	
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/ajax.js"></script>


	<script>
    	$(function(){
    		$('#scpwd').click(function(){
    			layer.load(2);
    			$.ajax({
    				url:'{:url("shop_admin/scpwd")}',
    				type:'POST',
    				data:{'aa':1},
    				dataType:'json',
    				success:function(data){
    					if(data.status == 1){
    						layer.closeAll('loading');
    						$('input[name=password]').val(data.password);
    					}else{
    						layer.closeAll('loading');
    						layer.msg('生成密码失败，请重试', {icon: 2,time: 1000});
    					}
    				},
    		        error:function(){
    		        	layer.closeAll('loading');
    		        	layer.msg('操作失败，请重试', {icon: 2,time: 2000});
    		        }
    			});    			
    		});
    		
    		//手机号验证
        	jQuery.validator.addMethod("phone", function(value, element){   
        	    var tel = /^1[3456789]\d{9}$/;
        	    return this.optional(element) || (tel.test(value));
        	}, "手机格式不正确");

    	    var icon = "<i class='fa fa-times-circle'></i>&nbsp;&nbsp;";
        	$('#form').validate({
	        	errorElement : 'span',
	        	debug: true,//只验证不提交表单
	        	//layer ajax提交表单
	            submitHandler:function(){
	            // 序列化 表单数据 后提交 ，太简洁了
	                post(insertUrl,'POST',$('#form').serialize(),1);
	                return false;
	            },//这是关键的语句，配置这个参数后表单不会自动提交，验证通过之后会去调用的方法

	        	rules:{
	        		phone:{
	        		   required:true,
	        		   phone:true,
	        		   remote : {
	        			  url : checkPhone,
	        			  type : 'post',
	        			  dataType : 'json',
	        			  data : {
	        				  phone : function () {
	        				   return $('input[name=phone]').val();
	        			     }
	        		      }
	        	       }
	        	    },
	        		password:{
		        		required:true
		        	}
	        	},

	        	messages:{
	        		phone:{
	        			required:icon+'必填',
	        			phone:icon+'手机号格式不正确',
	        			remote:icon+'手机已存在'
	        		},
	        		password:{required:icon+'必填'}
	        	}
            });
      });

      function cl(){
    	  location.href = url;
      }

    </script>

</body>
</html>