<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
	<link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/double-date.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/uploadify/uploadify.css"/>
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/double-date.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>

<body class="gray-bg">
<style>
input.error{
	border:1px solid red;
}
span.error{
	padding-top:10px;
	color: #f00;
	font-size:12px;
}
</style>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>秒杀活动详情</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                        	 <div class="form-group">
		                          <label class="col-sm-2 control-label">状态：</label>
		                          <div class="col-sm-6">
		                              <div style="font-size:14px; width:500px; height:35px; line-height:35px;">
		                              {switch name="rushs.zhuangtai"}
		                              {case value="1"}
		                              <span style="color:#1c84c6;">即将开始</span>    
		                              {/case}
		                              {case value="2"}
                                      <span style="color:#1c84c6;">秒杀中</span>                                                                 	                              
		                              {/case}
		                              {case value="3"}
		                              <span style="color:#ed5565;">已结束</span>                                                       
		                              {/case}
		                              {/switch}
		                              </div>
		                          </div>
		                     </div>
		                     <div class="hr-line-dashed"></div>
                        
                            <div class="form-group">
                                <label class="col-sm-2 control-label">所属商家：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">{$rushs.shop_name}</div>
                                </div>     
                            </div>
                            <div class="hr-line-dashed"></div>
                        
                        
                            <div class="form-group">
                                <label class="col-sm-2 control-label">活动名称：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">{$rushs.activity_name}</div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品缩略图：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:220px;"><img src="{$rushs.thumb_url}" witdh="200px;" height="200px";/></div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品信息：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:75px; line-height:35px;">{$rushs.goods_name}<br/>{$rushs.goods_attr_str}</div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {if condition="$rushs.hasoption eq 1"}
                            <div class="szattr" attr_type="0" style="display:;">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">秒杀库存/价格：</label>
                                    <div class="col-sm-6">
                                        <div class="shuxing">
                                            {$optionHtml}
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                            </div>
                            {/if}
                            {if condition="$rushs.hasoption eq 0"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品价格：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">{$rushs.shop_price}&nbsp;元</div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品秒杀价格：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">{$rushs.price}&nbsp;元</div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品库存：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">{$rushs.total}</div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">秒杀库存：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">{$rushs.stock}</div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {/if}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">单人限购数量：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">{$rushs.xznum}</div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">活动时间：</label>
                                <div class="col-sm-8">
                                    <div class="date date1 fl" style="float:left; margin-right:25px;">
                                           <div style="font-size:14px; width:500px; height:35px; line-height:35px;">开始时间：{:date('Y-m-d H:i:s',$rushs['start_time'])}</div>    
                                    </div>
                                    <div class="date fr" style="float:left;">
                                           <div style="font-size:14px; width:500px; height:35px; line-height:35px;">结束时间：{:date('Y-m-d H:i:s',$rushs['end_time'])}</div>    
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">已售：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">{$rushs.sold}</div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否推荐展示：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">
                                    {if condition="$rushs['recommend'] eq 1"}是{elseif condition="$rushs['recommend'] eq 0"/}否{/if}
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">申请时间：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">
                                    {:date('Y-m-d H:i:s',$rushs['apply_time'])}
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            {if condition="$rushs['checked_time']"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">审核时间：</label>
                                <div class="col-sm-6">
                                    <div style="font-size:14px; width:500px; height:35px; line-height:35px;">
                                    {:date('Y-m-d H:i:s',$rushs['checked_time'])}
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {/if}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 自定义js -->
    <script type="text/javascript" src="__PUBLIC__/uploadify/jquery.uploadify.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>	
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/ajax.js"></script>

</body>
</html>