<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/page.css" rel="stylesheet">
</head>
<script>
    var deleteUrl = "{:url('DistributionGrade/delete')}";
</script>
<style>
    .alert-primary {
        color: #259fdc;
        background-color: #d9edf7;
        border-color: #c5dce7;
    }
</style>
<body class="gray-bg">

    <div class="wrapper wrapper-content" id="server">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>分销商等级</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row" style="margin-top:10px;margin-bottom:10px;">  
                            <div class="col-sm-3 m-b-xs">
                                <a href="{:url('DistributionGrade/add')}" class="btn btn-sm btn-primary"><i class="fa fa-plus" style="color:#FFF;"></i>&nbsp;添加等级</a>
                            </div>
                        </div>
                        
                        <div class="alert alert-primary">
                            提示: 没有设置等级的分销商将按默认设置计算提成。商品指定的佣金金额的优先级为最高的，只要商品指定了佣金金额就按商品的佣金金额来计算，不受等级影响。
                        </div>
                        
                        <div id="ajaxpagetest">
                            {include file="distribution_grade/ajaxpage" /}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/admin.js"></script>
    <script src="__PUBLIC__/admin/js/common/ajax.js"></script>

	<script type="text/javascript">

        //是否显示
        function changeTableVal(id, status) {
            $.ajax({
                url:"{:url('DistributionGrade/changeStatus')}",
                type:'POST',
                data:{id: id,status: status},
                dataType:'json',
                success:function(data) {
                    if (!data.status) {
                        layer.msg(data.mess, {icon: 2,time: 2000});
                    } else {
                        location.reload();
                    }
                }
            });
        }
        
        function cl(){
            location.href = "{:url('DistributionGrade/lst')}";
        }

    </script>
	
</body>
</html>