<!--
 * @Descripttion: 
 * @Author: cbing
 * @Date: 2019-09-15 16:10:59
 * @LastEditors: cbing
 * @LastEditTime: 2019-09-15 16:12:28
 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
</head>

<script>
    var url = "{:url('member/lst')}";
    var insertUrl = "{:url('member/add')}";
    var checkUsername = "{:url('member/checkUsername')}";
    var checkPhone = "{:url('member/checkPhone')}";
</script>
<body class="gray-bg">
<style>
    input.error{
        border:1px solid red;
    }
    span.error{
        padding-top:10px;
        color: #f00;
        font-size:12px;
    }
</style>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>增加用户</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" id="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-6">
                                <input type="text" name="user_name" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="guanggao">
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">上传会员头像:</label>
                                <div class="col-sm-6">
                                    <div style="margin-bottom:7px; margin-top:5px;">
                                        <img id="imageinfo" src="__PUBLIC__/admin/img/nopic.jpg" width="180" height="120" border="0" />
                                        <br/><button type="button" class="btn btn-danger btn-xs del" style="display:none;">删除</button>
                                    </div>
                                    <div id="uploaderInput"></div>
                                    <input type="hidden" name="headimgurl" value="" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">手机</label>
                            <div class="col-sm-6">
                                <input type="text" name="phone" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">积分</label>
                            <div class="col-sm-6">
                                <input type="text" name="integral" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">登录密码</label>
                            <div class="col-sm-6">
                                <input type="text" name="password" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">支付密码</label>
                            <div class="col-sm-6">
                                <input type="text" name="paypwd" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit" id="doSubmit" style="margin-right:20px;">保存</button>
                                <button type="reset" class="btn btn-default">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 全局js -->
<script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
<!-- 自定义js -->
<script type="text/javascript" src="__PUBLIC__/admin/Huploadify/jquery.Huploadify.js"></script>
<script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
<script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>
<!-- iCheck -->
<script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="__PUBLIC__/admin/js/common/ajax.js"></script>

<!-- 全局js -->
<script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
<!-- 自定义js -->

<script>
    $(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        var icon = "<i class='fa fa-times-circle'></i>&nbsp;&nbsp;";
        $('#form').validate({
            errorElement : 'span',
            debug: true,//只验证不提交表单
            //layer ajax提交表单
            submitHandler:function(){
                // 序列化 表单数据 后提交 ，太简洁了
                post(insertUrl,'POST',$('#form').serialize(),1);
                return false;
            },//这是关键的语句，配置这个参数后表单不会自动提交，验证通过之后会去调用的方法

            rules:{
                user_name:{
                    required:true,
                    remote : {
                        url : checkUsername,
                        type : 'post',
                        dataType : 'json',
                        data : {
                            user_name : function () {
                                return $('input[name=user_name]').val();
                            }
                        }
                    }
                },
                phone:{
                    required:true,
                    remote : {
                        url : checkPhone,
                        type : 'post',
                        dataType : 'json',
                        data : {
                            phone : function () {
                                return $('input[name=phone]').val();
                            }
                        }
                    }
                },
                password:{required:true},
                paypwd:{required:true},

            },

            messages:{
                user_name:{
                    required:icon+'必填',
                    remote:icon+'已存在'
                },
                phone:{
                    required:icon+'必填',
                    remote:icon+'已存在'
                },
                password:{required:icon+'必填'},
                paypwd:{required:icon+'必填'},
            }
        });

        //上传头像
        $('#uploaderInput').Huploadify({
            uploader: '{:url("Common/Upload/uploadPic")}',
            method: 'post',
            formData: {name: 'member_headimg'},//发送给服务端的参数，格式：{key1:value1,key2:value2}
            buttonText: '上传图像',
            removeTimeout: 2000,
            fileTypeDesc: '*.jpg;*.jpeg;*.gif;*.png;*.JPG;*.JPEG;*.GIF;*.PNG;',
            fileTypeExts: '*.jpg;*.jpeg;*.gif;*.png;*.JPG;*.JPEG;*.GIF;*.PNG;',
            fileObjName: 'file', //上传附件$_FILE标识
            fileSizeLimit: 2048,
            //showUploadedPercent:false,//是否实时显示上传的百分比，如20%
            auto: true, //开启,自动上传
            multi: false, //开启,多选文件
            //开始上传
            onUploadStart: function (file) {
                layer.load(2);
            },
            onUploadSuccess: function (file, data, response) {
                //解析成json对象
                eval('var data=' + data);
                if (data.status == 200) {
                    var picpath = data.data.path;
                    $('#imageinfo').attr('src', picpath);
                    $('.del').show();
                    $('input[name=headimgurl]').val(picpath);
                } else {
                    layer.msg(data.mess, {icon: 2, time: 2000});
                }
            },
            //上传完成后执行的操作
            onUploadComplete: function (file) {
                layer.closeAll('loading');
            },
            //上传错误
            onUploadError: function (file, errorCode, errorMsg, errorString) {
                layer.msg('文件' + file.name + '上传失败:' + errorString, {icon: 2, time: 2000});
            }
        });
        $('.del').click(function(){
            $('input[name=headimgurl]').val('');
            var picval = $('.repicm').text();
            if(picval != ''){
                $('#imageinfo').attr('src', picval);
            }else{
                $('#imageinfo').attr('src','__PUBLIC__/admin/img/nopic.jpg');
            }
            $('.del').hide();
        });
    });

    function cl(){
        location.href = url;
    }
</script>

</body>
</html>
