<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
	<link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/page.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/double-date.css" rel="stylesheet">
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/double-date.js"></script>
    <link href="__PUBLIC__/admin/js/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
</head>

<script>
//删除url
var deleteUrl = "{:url('comment/delete')}";
var url = "/{$Request.module}/comment";
</script>

<body class="gray-bg" >
    <div class="wrapper wrapper-content" id="server">
       <style>
		.qiehuan{
		width:120px; height:40px; line-height:40px; font-size:14px; font-weight:bold; color:#333; background-color:#F5F5F6; float:left; margin-top:15px; margin-right:10px; text-align:center; cursor:pointer;
		}
		</style>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>商品评价列表</h5>
                    </div>
                    <div class="ibox-content">

						<div class="row" style="margin-top:15px;">
						  	<div class="col-sm-4 m-b-xs">
                               <div style="width:640px; height:40px; margin-bottom:25px;">
                               <a href="{:url('comment/lst',array('filter'=>3))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 3)"}style="background-color: #1992FC;color: #FFF;"{/if}>全部</div></a>
                               <a href="{:url('comment/lst',array('filter'=>1))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 1)"}style="background-color: #1992FC;color: #FFF;"{/if}>正常</div></a>
                               <a href="{:url('comment/lst',array('filter'=>2))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 2)"}style="background-color: #1992FC;color: #FFF;"{/if}>违规</div></a>
                               </div>
                            </div>


						    <div class="col-sm-8 m-b-xs" style="float:right; margin-top:25px;">
                            <form action="{:url('comment/search')}" method="post" id="form_search">
                            <div class="col-sm-5" style="float:right;">
                                <div class="input-group">
                                    <input type="text" name="keyword" placeholder="评论内容..." {if condition="(isset($keyword)) AND ($keyword)"}value="{$keyword}"{/if} class="input-sm form-control" /><span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">搜索</button></span>
                                </div>
                            </div>

                            <div style="float:right; font-size:15px; margin-right:10px;">
                                <select style="height:30px; line-height:30px; border:1px solid #e5e6e7;" name="pj_zt">
                                    <option value="0" {if condition="isset($pj_zt) && $pj_zt eq 0"}selected="selected"{/if}>全部</option>
                                    <option value="1" {if condition="isset($pj_zt) && $pj_zt eq 1"}selected="selected"{/if}>正常</option>
                                    <option value="2" {if condition="isset($pj_zt) && $pj_zt eq 2"}selected="selected"{/if}>违规</option>
                                </select>
                            </div>

                            <div class="date fr" id="to" style="float:right; font-size:15px; margin-right:10px;">
                                <input type="text" name="endtime" readonly="readonly" placeholder="结束时间" {if condition="(isset($endtime)) AND ($endtime)"}value="{:date('Y-m-d',$endtime)}"{/if} class="date-check">
                            </div>

                            <div class="date date1 fl" id="from" style="float:right; font-size:15px; margin-right:10px;">
                                <input type="text" name="starttime" readonly="readonly" placeholder="开始时间" {if condition="(isset($starttime)) AND ($starttime)"}value="{:date('Y-m-d',$starttime)}"{/if} class="date-check">
                            </div>

                           </form>
                           </div>
                        </div>
                        <div id="ajaxpagetest">
                        {include file="comment/ajaxpage" /}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/admin.js"></script>
    <script src="__PUBLIC__/admin/js/common/ajax.js"></script>
    <!-- Fancy box -->
    <script src="__PUBLIC__/admin/js/plugins/fancybox/jquery.fancybox.js"></script>
    <script>
        $(document).ready(function () {
            $('.fancybox').fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });
        });
    </script>
    <script>
    function checkedpinglun(id,obj){
    	if(search == 0){
    		var infoUrl = url+'/checked/com_id/'+id+'/page/'+pnum+'/filter/'+filter;
    	}else{
    		var infoUrl = url+'/checked/com_id/'+id+'/page/'+pnum+'/s/'+search+'/filter/'+filter;
    	}
    	layer.open({
    		type : 2,
    		title : '审核',
    		shadeClose : true,
    		shade : 0.5,
    		area : ['1000px','650px'],
    		content : infoUrl
    	});
    }

	</script>

</body>
</html>