<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
	<link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/page.css" rel="stylesheet">
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
</head>


<style>
.qiehuan{
width:120px; height:40px; line-height:40px; font-size:14px; font-weight:bold; color:#333; background-color:#F5F5F6; float:left; margin-right:10px; text-align:center; cursor:pointer;
}
</style>

<script>
//删除url
var deleteUrl = "{:url('city/delete')}";
var sortUrl = "{:url('city/order')}";
var url = "/{$Request.module}/city";
</script>

<body class="gray-bg">
    <div class="wrapper wrapper-content" id="server">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{if condition="(isset($pro_name)) AND ($pro_name)"}{$pro_name}下属{/if}城市管理</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                    		<div class="col-sm-4 m-b-xs">                    
                               <div style="width:1300px; height:40px; margin-bottom:25px;">
                               <a href="{:url('city/lst',array('filter'=>3))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 3)"}style="background-color: #1992FC;color: #FFF;"{/if}>全部</div></a>
                               <a href="{:url('city/lst',array('filter'=>1))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 1)"}style="background-color: #1992FC;color: #FFF;"{/if}>开通</div></a>
                               <a href="{:url('city/lst',array('filter'=>2))}"><div class="qiehuan" {if condition="(isset($filter)) AND ($filter eq 2)"}style="background-color: #1992FC;color: #FFF;"{/if}>关闭</div></a>    
                               </div>
                            </div> 
                        </div>
						<div class="row">
						   <div class="col-sm-4 m-b-xs">
                                <a href="{:url('city/add')}"><button type="button" class="btn btn-sm btn-primary" style="margin-right:15px;"><i class="fa fa-plus" style="color:#FFF;"></i>&nbsp;增加城市</button></a>
                            </div>
                            
                            <div class="col-sm-8 m-b-xs" style="float:right;">
                            <form action="{:url('city/search')}" method="post" id="form_search">          
                            <div class="col-sm-3" style="float:right;">
                                <div class="input-group">
                                    <input type="text" name="keyword" placeholder="请输入城市名称" {if condition="(isset($city_name)) AND ($city_name)"}value="{$city_name}"{/if} class="input-sm form-control" /><span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">搜索</button></span>
                                </div>
                            </div>
                            
                            <div style="float:right; font-size:15px; margin-right:10px;">
                                <select style="height:30px; line-height:30px; border:1px solid #e5e6e7;" name="checked">
                                    <option value="0" {if condition="isset($checked) && $checked eq 0"}selected="selected"{/if}>全部</option>
                                    <option value="1" {if condition="isset($checked) && $checked eq 1"}selected="selected"{/if}>开通</option>
                                    <option value="2" {if condition="isset($checked) && $checked eq 2"}selected="selected"{/if}>关闭</option>
                                </select>
                            </div>
                            
                            <div style="float:right; margin-right:10px; font-size:15px;">
                                <select class="input-sm form-control input-s-sm inline" name="pro_id">
                                    <option value="0" {if condition="(isset($pro_id)) AND ($pro_id eq 0)"}selected="selected"{/if}>全部省份</option>
                                    {foreach name="prores" item="v"}
                                    <option value="{$v.id}" {if condition="(isset($pro_id)) AND ($pro_id eq $v['id'])"}selected="selected"{/if}>{$v.zm}.{$v.pro_name}</option>
                                    {/foreach}
                                </select>
                            </div>
                           </form>  
                           </div>                
                        </div>


                        <div id="ajaxpagetest">
                        {include file="city/ajaxpage" /}
                        </div>						

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/admin.js"></script>
	<script src="__PUBLIC__/admin/js/common/ajax.js"></script>
	<script>
	//城市区域列表
	function area(id,obj){
	    window.location.href='/{$Request.module}/area/arealst/city_id/'+id+'/filter/3';
	}
	</script>

</body>
</html>